/* --- HERO --- */
.hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* --- HERO CONTENT --- */
.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
}

.hero__title {
    color: white;
    font-size: var(--fontSize-jumbo);
}

.hero__subtitle {
    font-size: var(--fontSize-large);
}

.hero__text {
    font-size: var(--fontSize-medium);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hero__social {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}

.hero__cv {
    margin-left: auto;
    border: 1px solid black;
    padding: var(--spacing-8) var(--spacing-16);
}


/* --- HERO IMAGE --- */
.hero__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image-container > figure {
    max-width: 300px;
}

.hero__image {
    border-radius: 100%;
    object-fit: cover;
    height: 290px;
}

/* ---------------------------------------------------------------------- */
/* KNOWLEDGE */
.knowledge {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.knowledge__title {
    font-size: var(--fontSize-xlarge);
    width: 1200px;
}

.knowledge__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-36);
}

.knowledge__title--front,
.knowledge__title--back {
    font-size: var(--fontSize-xmedium)
}

.knowledge__backend,
.knowledge__frontend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);
}

.knowledge__items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
}


/* ---------------------------------------------------------------------- */
/* ABOUT */
.about__title {
    font-size: var(--fontSize-xlarge);
}

.about__text {
    margin-top: var(--spacing-16);
}
